In [5]:
import json
fd = open("record.json",'r')
r = fd.read()
fd.close()
record = json.loads(r)
choice=int(input("Enter Your Choice\n 1.ADD \n 2.Delete\n press 1 or 2:"))
if (choice==1):
  print("Adding Products for Inventory")
  prod_id = str(input("Enter product id:"))
  name = str(input("Enter name:"))
  pr = int(input("Enter price:"))
  qn = int(input("Enter quantity:"))

  try:
    upd_qn=record[prod_id]["qn"]+qn
    record[prod_id] = {'name': name, 'pr': pr, 'qn': upd_qn}
  except:
    record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}
else:
  print("Deleting product from Inventory")
  prod_id = str(input("Enter product id:"))
  del record[prod_id]
  

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter Your Choice
 1.ADD
 2.Delete
 press 1 or 2:1
Adding Products for Inventory
Enter product id:1007
Enter name:mic
Enter price:1500
Enter quantity:20

In [6]:

record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'mic', 'pr': 1500, 'qn': 30},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'mango juice', 'pr': 30, 'qn': 100},
 '1011': {'name': 'soap', 'pr': 30, 'qn': 230},
 '1012': {'name': 'paste', 'pr': 20, 'qn': 130},
 '1013': {'name': 'brush', 'pr': 40, 'qn': 60},
 '1014': {'name': 'Water Bottle', 'pr': 15, 'qn': 40},
 '1015': {'name': 'Charger', 'pr': 80, 'qn': 50},
 '1016': {'name': 'Chocolate', 'pr': 40, 'qn': 90},
 '1017': {'name': 'Cookie', 'pr': 60, 'qn': 70},
 '1018': {'name': 'Coconut Oil', 'pr': 45, 'qn': 60},
 '1019': {'name': 'Milk', 'pr': 30, 'qn': 40},
 '1020': {'name': 'Pencil', 'pr': 5, 'qn': 85},
 '1021': {'name': 'Cup', 'pr': 120, 'qn': 50},
 '1022': {'name': 'T-Shirt', 'pr': 200, 'qn': 60},
 '1023': {'name': 'Sandals', 'pr': 180, 'qn': 50},
 '1024': {'name': 'Jacket', 'pr': 450, 'qn': 40},
 '1025': {'name': 'Shoe', 'pr': 400, 'qn': 30},
 '1026': {'name': 'Chips', 'pr': 30, 'qn': 40},
 '1027': {'name': 'Rope', 'pr': 50, 'qn': 20},
 '1028': {'name': 'Plates', 'pr': 50, 'qn': 25},
 '1029': {'name': 'Socks', 'pr': 60, 'qn': 30},
 '1030': {'name': 'Book', 'pr': 20, 'qn': 60}}