In [5]:
sales={} #execute once

In [59]:
import json
import time
fd = open("record.json",'r')
r = fd.read()
fd.close()
records = json.loads(r)
print("------------------------------------")
print("*************************************")
ui_prod  = str(input("Enter the product_Id: "))
if(ui_prod not in records.keys()):
  print("No product ")
  exit()
ui_quant = int(input("Enter the quantity: "))
discount=int(input("Enter Discount (in percentage): "))
if (ui_quant > (records[ui_prod]['qn'])):
  print("Sorry Maximum available Quantity are",records[ui_prod]['qn'])
  print("*************************************")
else:  
  print("Product: ", records[ui_prod]['name'])
  print("Price: ", records[ui_prod]['pr'])
  print("Date:",time.ctime())
  print("Billing Amount: ", (records[ui_prod]['pr'] * ui_quant)-((discount/100)*(records[ui_prod]['pr'] * ui_quant)))
  records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant
  print("*************************************")
  sales[len(sales)+1]={'name':records[ui_prod]['name'],'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant,'Discount percentage':discount}
  
  js = json.dumps(records)
  fd = open("record.json",'w')
  fd.write(js)
fd.close()

------------------------------------
*************************************
Enter the product_Id: 1002
Enter the quantity: 1
Enter Discount (in percentage): 10
Product:  Milk Cake
Price:  800
Date: Mon Sep  6 14:16:29 2021
Billing Amount:  720.0
*************************************

In [60]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 32},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 96},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 98},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'mic', 'pr': 1500, 'qn': 30},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'mango juice', 'pr': 30, 'qn': 100},
 '1011': {'name': 'soap', 'pr': 30, 'qn': 230},
 '1012': {'name': 'paste', 'pr': 20, 'qn': 130},
 '1013': {'name': 'brush', 'pr': 40, 'qn': 60},
 '1014': {'name': 'Water Bottle', 'pr': 15, 'qn': 40},
 '1015': {'name': 'Charger', 'pr': 80, 'qn': 50},
 '1016': {'name': 'Chocolate', 'pr': 40, 'qn': 89},
 '1017': {'name': 'Cookie', 'pr': 60, 'qn': 68},
 '1018': {'name': 'Coconut Oil', 'pr': 45, 'qn': 60},
 '1019': {'name': 'Milk', 'pr': 30, 'qn': 37},
 '1020': {'name': 'Pencil', 'pr': 5, 'qn': 82},
 '1021': {'name': 'Cup', 'pr': 120, 'qn': 50},
 '1022': {'name': 'T-Shirt', 'pr': 200, 'qn': 59},
 '1023': {'name': 'Sandals', 'pr': 180, 'qn': 50},
 '1024': {'name': 'Jacket', 'pr': 450, 'qn': 37},
 '1025': {'name': 'Shoe', 'pr': 400, 'qn': 30},
 '1026': {'name': 'Chips', 'pr': 30, 'qn': 36},
 '1027': {'name': 'Rope', 'pr': 50, 'qn': 19},
 '1028': {'name': 'Plates', 'pr': 50, 'qn': 23},
 '1029': {'name': 'Socks', 'pr': 60, 'qn': 30},
 '1030': {'name': 'Book', 'pr': 20, 'qn': 50}}

In [61]:
sales

{1: {'Discount percentage': 10,
  'amount': 200,
  'name': 'Choco Cake',
  'prod': '1001',
  'qn': 2},
 2: {'Discount percentage': 20,
  'amount': 200,
  'name': 'Book',
  'prod': '1030',
  'qn': 10},
 3: {'Discount percentage': 10,
  'amount': 40,
  'name': 'Pen',
  'prod': '1005',
  'qn': 2},
 4: {'Discount percentage': 1,
  'amount': 5,
  'name': 'Pencil',
  'prod': '1020',
  'qn': 1},
 5: {'Discount percentage': 30,
  'amount': 120,
  'name': 'Cookie',
  'prod': '1017',
  'qn': 2},
 6: {'Discount percentage': 20,
  'amount': 2400,
  'name': 'Milk Cake',
  'prod': '1002',
  'qn': 3},
 7: {'Discount percentage': 10,
  'amount': 200,
  'name': 'T-Shirt',
  'prod': '1022',
  'qn': 1},
 8: {'Discount percentage': 10,
  'amount': 1350,
  'name': 'Jacket',
  'prod': '1024',
  'qn': 3},
 9: {'Discount percentage': 30,
  'amount': 120,
  'name': 'Chips',
  'prod': '1026',
  'qn': 4},
 10: {'Discount percentage': 10,
  'amount': 50,
  'name': 'Rope',
  'prod': '1027',
  'qn': 1},
 11: {'Discount percentage': 10,
  'amount': 10,
  'name': 'Pencil',
  'prod': '1020',
  'qn': 2},
 12: {'Discount percentage': 20,
  'amount': 90,
  'name': 'Milk',
  'prod': '1019',
  'qn': 3},
 13: {'Discount percentage': 10,
  'amount': 40,
  'name': 'Chocolate',
  'prod': '1016',
  'qn': 1},
 14: {'Discount percentage': 10,
  'amount': 100,
  'name': 'Plates',
  'prod': '1028',
  'qn': 2},
 15: {'Discount percentage': 10,
  'amount': 800,
  'name': 'Milk Cake',
  'prod': '1002',
  'qn': 1}}

In [62]:
jnew=json.dumps(sales)


fd = open("sales.json",'w')
fd.write(jnew)
fd.close()